/* 
    Document   : poisplume
    Created on : Jun 25, 2012, 10:23:47 PM
    Author     : fabrice
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'CuadrifonteFillMedium';
    src: url('CuadrifonteFill-webfont.eot');
    src: url('CuadrifonteFill-webfont.eot?#iefix') format('embedded-opentype'),
        url('CuadrifonteFill-webfont.woff') format('woff'),
        url('CuadrifonteFill-webfont.ttf') format('truetype'),
        url('CuadrifonteFill-webfont.svg#CuadrifonteFillMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CuadrifonteLineMedium';
    src: url('CuadrifonteLine-webfont.eot');
    src: url('CuadrifonteLine-webfont.eot?#iefix') format('embedded-opentype'),
        url('CuadrifonteLine-webfont.woff') format('woff'),
        url('CuadrifonteLine-webfont.ttf') format('truetype'),
        url('CuadrifonteLine-webfont.svg#CuadrifonteLineMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CuadrifonteMedium';
    src: url('Cuadrifonte-webfont.eot');
    src: url('Cuadrifonte-webfont.eot?#iefix') format('embedded-opentype'),
        url('Cuadrifonte-webfont.woff') format('woff'),
        url('Cuadrifonte-webfont.ttf') format('truetype'),
        url('Cuadrifonte-webfont.svg#CuadrifonteMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CuadrifontePicsMedium';
    src: url('CuadrifontePics-webfont.eot');
    src: url('CuadrifontePics-webfont.eot?#iefix') format('embedded-opentype'),
        url('CuadrifontePics-webfont.woff') format('woff'),
        url('CuadrifontePics-webfont.ttf') format('truetype'),
        url('CuadrifontePics-webfont.svg#CuadrifontePicsMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RougeRegular';
    src: url('rouger-webfont.eot');
    src: url('rouger-webfont.eot?#iefix') format('embedded-opentype'),
        url('rouger-webfont.woff') format('woff'),
        url('rouger-webfont.ttf') format('truetype'),
        url('rouger-webfont.svg#RougeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RougeBold';
    src: url('rougeb-webfont.eot');
    src: url('rougeb-webfont.eot?#iefix') format('embedded-opentype'),
        url('rougeb-webfont.woff') format('woff'),
        url('rougeb-webfont.ttf') format('truetype'),
        url('rougeb-webfont.svg#RougeBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-color: #eeeeee;
}

div.main-layout {
    max-width: 50%;
    margin: auto;
    /* The two following margins are sum(
    #owlmenu li padding-top,
    #owlmenu li font-size,
    5
    )*/
    /*margin-top: 120px;
    margin-bottom: 120px;*/
}

div.main-content {
    /*border-color: #DDDDDD;
    border-style: solid;*/
}

h1 {
    font-family: 'CuadrifonteMedium', sans-serif;
}

h2, h2, h3, h4, h5, h6 {
    font-family: 'RougeRegular', sans-serif;
}

div.banner h1 {
    /*font-family: 'RougeBold', sans-serif;
    font-family: 'RougeRegular', sans-serif;
    font-family: 'CuadrifontePicsMedium', sans-serif;
    font-family: 'CuadrifonteMedium', sans-serif;
    font-family: 'CuadrifonteLineMedium', sans-serif;
    font-family: 'CuadrifonteFillMedium', sans-serif;*/
    font-size: 70px;
}

#owlmenu {
    font-family: 'RougeBold', sans-serif;
    font-size: 1.5em;
}

#owlmenu li.item-101 {
    position: fixed;
    top: 0%;
    left: 15%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume1.png");
}

#owlmenu li.item-102 {
    position: fixed;
    top: 0%;
    right: 11%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume2.png");
}

#owlmenu li.item-107 {
    position: fixed;
    top: 30%;
    left:1%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume3.png");
}

#owlmenu li.item-103 {
    position: fixed;
    top: 25%;
    right: 1%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume4.png");
}

#owlmenu li.item-106 {
    position: fixed;
    top: 60%;
    left: 7%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume5.png");
}

#owlmenu li.item-104 {
    position: fixed;
    top: 50%;
    right: 7%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume6.png");
}

#owlmenu li.item-105 {
    position: fixed;
    bottom: 0%;
    left: 15%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume7.png");
}

#owlmenu li.item-108 {
    position: fixed;
    bottom: 25%;
    right: 15%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume8.png");
}

#owlmenu li.item-109 {
    position: fixed;
    bottom: 0%;
    right: 7%;

    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/plume9.png");
}

#owlmenu li {
    padding-top: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 80px;
    display: inline;
}

#owlmenu li a {
    text-decoration: none;
}

