/* 
    Document   : poisplume
    Created on : Jun 25, 2012, 10:23:47 PM
    Author     : fabrice
    Description:
        Purpose of the stylesheet follows.
*/

div.main-layout {
    max-width: 90%;
    margin: auto;
}

div.main-content {
    border-color: #DDDDDD;
    border-style: solid;
}

div.banner {
    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/mongolfieres.png");
    border-color: #DDDDDD;
    border-style: solid;
}

#owlmenu li {
    display: inline;
    margin-right: 15px;
}

#owlmenu li.current {
    font-weight: bold;
}

#owlmenu li a {
    text-decoration: none;
}


