/* 
    Document   : poisplume
    Created on : Jun 25, 2012, 10:23:47 PM
    Author     : fabrice
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'RougeRegular';
    src: url('rouger-webfont.eot');
    src: url('rouger-webfont.eot?#iefix') format('embedded-opentype'),
         url('rouger-webfont.woff') format('woff'),
         url('rouger-webfont.ttf') format('truetype'),
         url('rouger-webfont.svg#RougeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

div.main-layout {
    max-width: 90%;
    margin: auto;
}

div.main-content {
    border-color: #DDDDDD;
    border-style: solid;
}

div.banner {
    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/mongolfieres.png");
    border-color: #DDDDDD;
    border-style: solid;
}

#owlmenu li {
    display: inline;
    margin-right: 15px;
}

#owlmenu li.current {
    font-weight: bold;
}

#owlmenu li a {
    text-decoration: none;
}


