/* 
    Document   : poisplume
    Created on : Jun 25, 2012, 10:23:47 PM
    Author     : fabrice
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'CuadrifonteFillMedium';
    src: url('CuadrifonteFill-webfont.eot');
    src: url('CuadrifonteFill-webfont.eot?#iefix') format('embedded-opentype'),
        url('CuadrifonteFill-webfont.woff') format('woff'),
        url('CuadrifonteFill-webfont.ttf') format('truetype'),
        url('CuadrifonteFill-webfont.svg#CuadrifonteFillMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CuadrifonteLineMedium';
    src: url('CuadrifonteLine-webfont.eot');
    src: url('CuadrifonteLine-webfont.eot?#iefix') format('embedded-opentype'),
        url('CuadrifonteLine-webfont.woff') format('woff'),
        url('CuadrifonteLine-webfont.ttf') format('truetype'),
        url('CuadrifonteLine-webfont.svg#CuadrifonteLineMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CuadrifonteMedium';
    src: url('Cuadrifonte-webfont.eot');
    src: url('Cuadrifonte-webfont.eot?#iefix') format('embedded-opentype'),
        url('Cuadrifonte-webfont.woff') format('woff'),
        url('Cuadrifonte-webfont.ttf') format('truetype'),
        url('Cuadrifonte-webfont.svg#CuadrifonteMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'CuadrifontePicsMedium';
    src: url('CuadrifontePics-webfont.eot');
    src: url('CuadrifontePics-webfont.eot?#iefix') format('embedded-opentype'),
        url('CuadrifontePics-webfont.woff') format('woff'),
        url('CuadrifontePics-webfont.ttf') format('truetype'),
        url('CuadrifontePics-webfont.svg#CuadrifontePicsMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RougeRegular';
    src: url('rouger-webfont.eot');
    src: url('rouger-webfont.eot?#iefix') format('embedded-opentype'),
        url('rouger-webfont.woff') format('woff'),
        url('rouger-webfont.ttf') format('truetype'),
        url('rouger-webfont.svg#RougeRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RougeBold';
    src: url('rougeb-webfont.eot');
    src: url('rougeb-webfont.eot?#iefix') format('embedded-opentype'),
        url('rougeb-webfont.woff') format('woff'),
        url('rougeb-webfont.ttf') format('truetype'),
        url('rougeb-webfont.svg#RougeBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


body {
    background-image: url("http://cafepoisplumes.fr/templates/ppj_template/images/poisplumes/mongolfiere2.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-color: #eeeeee;
}

div.main-layout {
    max-width: 90%;
    margin: auto;
}

div.main-content {
    /*border-color: #DDDDDD;
    border-style: solid;*/
}

div.banner {
    /*border-color: #DDDDDD;
    border-style: solid;*/
}

/*h1 {
    font-family: 'CuadrifonteMedium', sans-serif;
}*/

h1, h2, h3, h4, h5, h6 {
    font-family: 'RougeRegular', sans-serif;
}

div.banner h1 {
    /*font-family: 'RougeBold', sans-serif;
    font-family: 'RougeRegular', sans-serif;
    font-family: 'CuadrifontePicsMedium', sans-serif;
    font-family: 'CuadrifonteMedium', sans-serif;
    font-family: 'CuadrifonteLineMedium', sans-serif;
    font-family: 'CuadrifonteFillMedium', sans-serif;*/
    font-size: 90px;
}


#owlmenu li {
    display: inline;
    margin-right: 20px;
    font-family: 'RougeBold', sans-serif;
    font-size: 1.3em;
}

#owlmenu li.current a {
    color: blueviolet;
    font-weight: bold;
}

#owlmenu li a {
    text-decoration: none;
}

a {
    color: lightseagreen;
}


